# Ignore SQLite Databases and Temp files
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

# Ignore Massive Output Files
*.ged
*.out
output/
data/
RawForDB/

# Ignore Logs
log/
*.log

# Python cache
__pycache__/
*.pyc